* {
    margin: 0;
    padding: 0;
}
#wrapper-first {
    width: 1170px;
    height: 33vh;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: block;
}
#major-first {
    background-color: white;
    display: block;
    margin: 0 15px 0 15px;
    height: 100%;
    width: auto;
}
#major-first-first-row {
    background-color: white;
    display: block;
    padding-bottom: 40px;    
    height: 25%;
    width: auto;
}
#major-first-first-row-left-box {
    background-color: rgb(233, 220, 220);
    float: left;
    height: 100%;
    width: 33%;
}
#major-first-first-row-right-box {
    background-color: rgb(233, 220, 220);
    float: right;
    height: 100%;
    width: 15%;
}
#major-first-second-row {
    display: block;    
    height: 50%;
    width: auto;
}
#major-first-second-row-center-box {
    background-color: rgb(233, 220, 220);
    display: block;
    margin: auto;    
    height: 92.5%;
    width: 33%;
}
#major-first-third-row {
    display: block;    
    height: 10%;
    width: auto;
}
#major-first-third-row-center-box {
    background-color: rgb(233, 220, 220);
    display: block;    
    height: 100%;
    width: 7%;
    margin: auto;
}
#wrapper-second {
    padding-top: 25px;
    width: 1170px;
    height: 45vh;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: block;
}
#major-second {
    background-color: rgb(233, 220, 220);
    display: block;
    margin: 0 15px 0 15px;
    height: 100%;
    width: auto;
}
#major-second-first-row {
    background-color: rgb(233, 220, 220);;
    display: block;
    padding-top: 15px;
    height: 12%;
    width: auto;
    align-items: center;
    align-content: center;
}
#major-second-first-row-box-left {
    background-color: gray;
    display: inline-block;
    height: 50%;
    width: 15%;
    margin: 0 15px 0 20px;
    margin-bottom: 11px;
}
#major-second-first-row-box-center {
    background-color: gray;
    display: inline-block;
    height: 90%;
    width: 40%;
    margin: 0 15px 5px 20px;
}
#major-second-first-row-box-right {
    background-color: gray;
    display: inline-block;
    height: 50%;
    width: 30%;
    margin: 0 15px 0 25px;
    margin-bottom: 11px;
}
#major-second-second-row {
    background-color: rgb(233, 220, 220);;
    display: block;
    padding-top: 15px;
    height: 35%;
    width: auto;
}
#major-second-second-row-box-left {
    background-color: gray;
    display: inline-block;
    height: 22.5%;
    width: 15%;
    margin: 0 15px 0 20px;
    margin-bottom: 44px;
}
#major-second-second-row-box-center {
    background-color: gray;
    display: inline-block;
    height: 90%;
    width: 75%;
    margin: 0 15px 5px 20px;
}
#major-second-third-row {
    background-color: rgb(233, 220, 220);;
    display: block;
    padding-top: 5px;
    height: 15%;
    width: auto;
}
#major-second-third-row-box-center {
    background-color: gray;
    display: inline-block;
    height: 50%;
    width: 25%;
    left: 20%;
    position: relative;
}
#major-second-forth-row {
    background-color: rgb(233, 220, 220);;
    display: block;
    padding-top: 5px;
    height: 20%;
    width: auto;
}
#major-second-forth-row-box-center {
    background-color: gray;
    display: inline-block;
    height: 100%;
    width: 25%;
    left: 20%;
    position: relative;
}
#major-second-forth-row-box-center-right {
    background-color: gray;
    display: inline-block;
    height: 37%;
    width: 30%;
    margin: 0 0 25px 25px;
    left: 20%;
    position: relative;
}
/*   */
#wrapper-third {
    width: 1170px;
    height: 10vh;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    display: block;
}
#major-extra {
    background-color: rgb(233, 220, 220);
    display: block;
    margin: 0 15px 15px 15px;
    padding-top: 15px;
    height: 100%;
    width: auto;
}
#major-extra-first-row {
    background-color: rgb(233, 220, 220);
    display: block;
    padding-top: 15px;
    height: 75%;
    width: auto;
    align-items: center;
    align-content: center;
}
#major-extra-first-row-left {
    background-color: gray;
    display: inline-block;
    padding-top: 13px;
    height: 70%;
    width: 15%;
    margin-right: 25px;
}
#major-extra-first-row-center {
    background-color: gray;
    display: inline-block;
    padding-top: 13px;
    height: 70%;
    width: 15%;
    margin-right: 25px;
}
#major-extra-first-row-right {
    background-color: gray;
    display: inline-block;
    padding-top: 13px;
    height: 70%;
    width: 15%;
    margin-right: 25px;
}
#major-extra-first-row-extra {
    background-color: gray;
    float: right;
    padding-top: 15px;
    height: 33%;
    width: 15%;
}
/*
#wrapper-third {
    width: 1170px;
    height: 25vh;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(233, 220, 220);
    display: block;
}   
#major-third {
    background-color: rgb(233, 220, 220);
    display: inine-block;
    margin: 0 15px 15px 15px;
    padding-top: 15px;
    height: 100%;
    width: auto;
} 
#major-third-first-row {
    background-color: rgb(233, 220, 220);
    display: block;
    padding-top: 15px;
    height: 75%;
    width: auto;
    align-items: center;
    align-content: center;
}
#major-third-first-row-left {
    background-color: gray;
    display: inline-block;
    padding-top: 13px;
    height: 70%;
    width: 15%;
    margin-right: 25px;
}
#major-third-first-row-center {
    background-color: gray;
    display: inline-block;
    padding-top: 13px;
    height: 70%;
    width: 15%;
    margin-right: 25px;
}
#major-third-first-row-right {
    background-color: gray;
    display: inline-block;
    padding-top: 13px;
    height: 70%;
    width: 15%;
    margin-right: 25px;
}
#major-third-first-row-extra {
    background-color: gray;
    float: right;
    padding-top: 15px;
    height: 33%;
    width: 15%;
}

*/
#wrapper-forth {
    overflow: hidden;
    width: 1170px;
    height: 100vh;
    margin: auto;
    padding-top: 50px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(233, 220, 220);
    display: block;
}
#major-forth {
    overflow: hidden;
    background-color: rgb(233, 220, 220);
    display: block;
    margin: 0 15px 15px 15px;
    height: 100%;
    width: auto;
} 
#major-forth-first-row {
    background-color: rgb(233, 220, 220);
    display: block;
    height: 10%;
    width: auto;
}
#major-forth-first-row-left {
    background-color: gray ;
    float: left;
    height: 100%;
    width: 25%;
}
#major-forth-first-row-right {
    background-color: gray;
    float: right;
    height: 100%;
    width: 25%;
}
#major-forth-second-row {
    margin-top: 25px;
    background-color: rgb(233, 220, 220);
    display: block;
    height: 3.3%;
    width: auto;
}
#major-forth-second-row-left {
    background-color: gray ;
    float: left;
    height: 66%;
    width: 12.5%;
}
#major-forth-third-row {
    background-color: rgb(233, 220, 220);
    display: block;
    height: 10%;
    width: auto;
}
#major-forth-third-row-left {
    background-color: gray ;
    float: left;
    height: 100%;
    width: 80%;
}
#major-forth-third-row-right {
    background-color: gray ;
    float: right;
    height: 100%;
    width: 12.5%;
}
#major-forth-forth-row {
    margin-top: 10px;
    background-color: rgb(233, 220, 220);
    display: block;
    height: 3.3%;
    width: auto;
}
#major-forth-forth-row-left {
    background-color: gray ;
    float: left;
    height: 75%;
    width: 33%;
}
#major-forth-fifth-row {
    margin-top: 25px;
    background-color: gray;
    display: block;
    height: 10%;
    width: auto;
}
#major-forth-sixth-row {
    margin-top: 25px;
    background-color: rgb(233, 220, 220);
    display: block;
    height: 3.3%;
    width: auto;
}
#major-forth-sixth-row-left {
    background-color: gray ;
    float: left;
    height: 66%;
    width: 12.5%;
}
#major-forth-seventh-row {
    background-color: rgb(233, 220, 220);
    display: block;
    height: 10%;
    width: auto;
}
#major-forth-seventh-row-left {
    background-color: gray ;
    float: left;
    height: 100%;
    width: 80%;
}
#major-forth-eighth-row {
    margin-top: 25px;
    background-color: rgb(233, 220, 220);
    display: block;
    height: 3.3%;
    width: auto;
}
#major-forth-eighth-row-left {
    background-color: gray ;
    float: right;
    height: 100%;
    width: 12.5%;
}
#major-forth-ninth-row {
    margin-top: 10px;
    background-color: rgb(233, 220, 220);
    display: block;
    height: 10%;
    width: auto;
}
#major-forth-ninth-row-right {
    background-color: gray ;
    float: right;
    height: 100%;
    width: 80%;
}
#major-forth-tenth-row {
    margin-top: 25px;
    background-color: rgb(233, 220, 220);
    display: block;
    height: 3.3%;
    width: auto;
}
#major-forth-tenth-row-left {
    background-color: gray ;
    float: left;
    height: 66%;
    width: 12.5%;
}
#major-forth-eleventh-row {
    background-color: rgb(233, 220, 220);
    display: block;
    height: 10%;
    width: auto;
}
#major-forth-eleventh-row-left {
    background-color: gray ;
    float: left;
    height: 100%;
    width: 80%;
}
#wrapper-fifth {
    width: 1170px;
    height: 20vh;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    display: block;
}
#major-fifth {
    background-color: white;
    display: block;
    height: 10%;
    width: auto;
} 
#major-fifth-first-row {
    background-color: white;
    display: block;
    height: 100%;
    width: auto;
}
#major-fifth-first-row-left {
    background-color: gray ;
    float: left;
    height: 100%;
    width: 25%;
}
#major-fifth-first-row-right {
    background-color: gray;
    float: right;
    height: 100%;
    width: 50%;
}
/*
#major-first-first-row-box-left {
    background-color: blue;
    display: inline-block;
    height: 50%;
    width: 15%;
    margin: 0 15px 0 20px;
    margin-bottom: 11px;
}
#major-first-first-row-box-center {
    background-color: blue;
    display: inline-block;
    height: 90%;
    width: 40%;
    margin: 0 15px 5px 20px;
}
#major-first-first-row-box-right {
    background-color: blue;
    display: inline-block;
    height: 50%;
    width: 30%;
    margin: 0 15px 0 25px;
    margin-bottom: 11px;
}


/*
#major-first-second-row {
    background-color: blue;
    display: block;
    margin: 0 15px 0 15px;
    height: 35%;
    width: auto;
}
#major-first{
  margin: auto;
  margin: 0px 15px 0;
}

#major-first-first-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}
#major-first-first-row-left-box {
    float: left;
    width: 33%;
    padding: 3.25vh;
    background: rgb(233, 220, 220);
}
#major-first-first-row-right-box {
    float: right;
    width: 12.5%;
    padding: 3.25vh;
    background: rgb(233, 220, 220);
}
#major-first-second-row {
    background-color: red;
    display: inline-block;
    width: 100%;
}
#major-first-second-row-center-box {
    margin: auto;
    width: 33%;
    padding: 40px 0 40px 0;
    background: rgb(233, 220, 220);
}
#major-first-third-row {
    background-color: red;
    display: inline-block;
    width: 100%;
}
#major-first-third-row-center-box {
    margin: auto;
    width: 7.5%;
    padding: 10px 0 10px 0;
    background: rgb(233, 220, 220);
}
#wrapper-second {
    width: 1170px;
    height: 33vh;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#major-second{
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(233, 220, 220);
    margin: auto;
    padding: 0 15px 15px 15px;
    width: 1170px;
  }
  #major-second-first-row {
      display: inline-block;
      width: 100%;
      margin-bottom: 40px;
  }
  #major-second-first-row-left-box {
      float: left;
      width: 33%;
      padding: 25px 0 25px 0;
      background: rgb(233, 220, 220);
  }
  #major-second-first-row-right-box {
      float: right;
      width: 12.5%;
      padding: 25px 0 25px 0;
      background: rgb(233, 220, 220);
  }
  #major-second-second-row {
      display: inline-block;
      width: 100%;
  }
  #major-second-second-row-center-box {
      margin: auto;
      width: 33%;
      padding: 40px 0 40px 0;
      background: rgb(233, 220, 220);
  }
  #major-second-third-row {
      display: inline-block;
      width: 100%;
  }
  #major-second-third-row-center-box {
      margin: auto;
      width: 7.5%;
      padding: 10px 0 10px 0;
      background: rgb(233, 220, 220);
  } 
  */