* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.wrapper {
    max-width: max-content;
    margin: auto;
}
h1 {
    margin-bottom: 20px;
}
div {
    margin-bottom: 10px;
}
input, textarea{
    border: 1px solid black;
    border-radius: 2.5px;
}
.line {
    max-width: max-content;
}
.width-100 {
    width: 100%;
}
.width-50 {
    width: 50%;
}
.required:after {
    content:" *";
    color: red;
}
.block {
    display: block;
}
