* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
.aux {
    width: 100%;
    padding: 15px 0;
}
a {
    color: #000;
}
.strong {
    background: #000;
    color: white;
}
.wrapper {
    max-width: 1170px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid black;
}
.wrapper .upper-half {
    width: 100%;
    padding: 0 20px;
}
.wrapper .upper-half .upper-block {
    width: 100%;
}
.wrapper .upper-half .upper-block .upper-row {
    width: 100%;
}
.wrapper .upper-half .upper-block .upper-row .left-box {
    padding: 30px 0;
    float: left;
    font-size: xx-large;
}
.wrapper .upper-half .upper-block .upper-row .right-box {
    padding: 40px 0;
    text-align: center;
    float: right;
}
.wrapper .upper-half .upper-block .center-row {
    text-align: center;
}
.wrapper .upper-half .upper-block .center-row .center-box {
    padding: 10px 0;
    margin: auto;
    font-weight: 900;
    font-size: xx-large;
}
.wrapper .upper-half .upper-block .lower-row {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}
.wrapper .upper-half .upper-block .lower-row .center-small-box {
    padding: 0 0 15px 0;
    margin: auto;
}
.wrapper .upper-half .central-block {
    background: silver;
    width: 100%;
    padding: 25px 30px;
    margin: 0 auto;
}
.wrapper .upper-half .central-block .first-row{
    width: 100%;
    margin-bottom: 10px;
}
.wrapper .upper-half .central-block .first-row .left-box {
    padding: 15px;
    margin-top: 15px;
    width: 20%;
    float: left;
    text-align: right;
    font-weight: 900;
    font-size: 25px;
}
.wrapper .upper-half .central-block .first-row .right-box {
    width: 75%;
    float: right;
}
.wrapper .upper-half .central-block .first-row .right-box .select-box {
    background-color: white;
    display: block;
    padding: 30px;
    margin: auto;
    width: 50%;
    float: left;
}
.wrapper .upper-half .central-block .first-row .right-box .box {
    padding: 30px;
    margin: auto;
    width: 50%;
    float: right;
}
/* .wrapper .upper-half .central-block .first-row{
    width: 100%;
    margin-bottom: 20px;
    font-size: x-large;
    text-align: right;
}

.wrapper .upper-half .central-block .first-row > div {
    background-color: gray;
}

.wrapper .upper-half .central-block .first-row .left-box {
    padding: 15px;
    float: left;
}

.wrapper .upper-half .central-block .first-row .center-box {
    padding: 15px;
    float: right;
}
.wrapper .upper-half .central-block .first-row .right-box {
    padding: 30px;
} */

.wrapper .upper-half .central-block .second-row{
    width: 100%;
    margin-bottom: 10px;
}
.wrapper .upper-half .central-block .second-row .left-box {
    padding: 15px;
    margin-top: 15px;
    width: 20%;
    float: left;
    text-align: right;
    font-weight: 900;
    font-size: 25px;
}
.wrapper .upper-half .central-block .second-row .form-wrapper {
    width: 75%;
    float: right;
}
.wrapper .upper-half .central-block .second-row .form-wrapper .right-box{
    width: 100%;
    float: right;
}
.wrapper .upper-half .central-block .second-row .form-wrapper .center-box{
    width: 100%;
}
.wrapper .upper-half .central-block .second-row .form-wrapper .submit-row{
    width: 100%;
    padding: 15px 0; 
}
.wrapper .upper-half .central-block .second-row .form-wrapper .submit-button{
    width: 45%;
    padding: 15px 0; 
    float: left;
    margin-right: 15px;
}
.wrapper .upper-half .central-block .second-row .form-wrapper .schedule{
    width: 50%;
    padding: 15px 0; 
    float: left;
}
/*
.wrapper .upper-half .central-block .second-row .right-box {
    background-color: white;
    padding: 75px;
    margin: auto;
    width: 75%;
    float: right;
}
.wrapper .upper-half .central-block .second-row{
    width: 100%;
    padding-bottom: 20px;
}
.wrapper .upper-half .central-block .second-row .center-box{
    margin-left: 25%;
    padding: 15px;
}
.wrapper .upper-half .central-block .forth-row{
    width: 100%;
    margin-bottom: 20px;
}
.wrapper .upper-half .central-block .forth-row .center-box {
    background-color: gray;
    padding: 35px 15%;
    float: left;
    margin-left: 25%;
}
.wrapper .upper-half .central-block .forth-row .right-box {
    padding: 15px 0;
    float: left;
    margin-left: 5%;
    margin-top: 15px;
}
*/
.wrapper .lower-half {
    width: 100%;
    background: silver;
}
.wrapper .lower-half .top-conversations {
    width: 100%;
    background: silver;
    padding-top: 15px;
    padding-left: 15px;
}
.wrapper .lower-half .top-conversations h2 {
    font-size: 30px;
    width: 100%;
    background: silver;
}
.wrapper .lower-half .top-conversations hr {
    margin-top: 10px;
    margin-bottom: 15px;
}
.wrapper .lower-half .top-conversations .row {
    width: 100%;
    background: silver;
    margin-bottom: 10px;
}
.wrapper .lower-half .top-conversations .row .left-box {
    background: silver;
    width: 20%;
    float: left;
    text-align: right;
}
.wrapper .lower-half .top-conversations .row .left-box .up{
    font-weight: bold;
}
.wrapper .lower-half .top-conversations .row .right-box {
    background: silver;
    float: right;
    width: 75%;
    text-align: justify;
    padding-right: 15px;
}
.wrapper .lower-half .top-row{
    width: 100%;
    background: silver;
}
.wrapper .lower-half .top-row .left-box{
    width: 30%;
    padding: 35px 0;
    background: gray;
    float: left;
}
.wrapper .lower-half .top-row .right-box{
    width: 30%;
    float: right;
    padding: 35px 0;
    background: gray;
}
.wrapper .lower-half .child2{
    width: 15%;
    padding: 15px 0;
    background: gray;
    margin-bottom: 10px;
}
.wrapper .lower-half .second-row{
    width: 100%;
    margin-bottom: 10px;
    background: silver;
}
.wrapper .lower-half .second-row .left-box{
    width: 82%;
    padding: 35px 0;
    background: gray;
    float: left;
}
.wrapper .lower-half .second-row .right-box{
    width: 15%;
    float: right;
    padding: 35px 0;
    background: gray;
}
.wrapper .lower-half .child4{
    width: 30%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: gray;
}
.wrapper .lower-half .child5{
    width: 100%;
    padding: 35px 0;
    margin-bottom: 20px;
    background: gray;
}
.wrapper .lower-half .child6{
    width: 15%;
    padding: 15px 0;
    background: gray;
    margin-bottom: 10px;
}
.wrapper .lower-half .child7{
    width: 75%;
    padding: 35px 0;
    background: gray;
    margin-bottom: 10px;
}
.wrapper .lower-half .aux1 {
    width: 100%;
}
.wrapper .lower-half .aux1 .child8{
    width: 15%;
    padding: 30px 0 0 0;
    float: right;
    background: gray;
}
.wrapper .lower-half .aux2 {
    width: 100%;
    padding: 35px 0;
    background: silver;
}
.wrapper .lower-half .aux2 .child9{
    width: 75%;
    padding: 35px 0;
    margin-bottom: 20px;
    float: right;
    background: gray;
}
.wrapper .lower-half .child10{
    width: 15%;
    padding: 15px 0;
    background: gray;
    margin-bottom: 10px;
}
.wrapper .lower-half .child11{
    width: 75%;
    padding: 35px 0;
    margin-bottom: 20px;
    background: gray;
}
.last-wrapper .last-row {
    max-width: 1170px;
    margin: auto;
    padding: 0 10px;
}
.last-wrapper .last-row .left-box{
    padding: 10px 0;
    float: left;
}
.last-wrapper .last-row .right-box{
    padding: 10px 0;
    float: right;
}
.wrapper .upper-half .lower-block {
    margin-top: 50px;
    width: 100%;
}
.wrapper .upper-half .lower-block .left-area{
    float: left;
    margin-left: 15px;
}
.wrapper .upper-half .lower-block .right-area{
    float: right;
}
.wrapper .upper-half .lower-block .left-area .identical {
    background: rgb(240, 235, 235);
    margin-right: 10px;
    padding: 10px;
    float: left;
    border: 1px solid black;
}
.wrapper .upper-half .lower-block .left-area .identical-active {
    background: silver;
    margin-right: 10px;
    padding: 10px;
    float: left;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.wrapper .upper-half .lower-block .right-area .identical {
    padding: 10px;
}