* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
.wrapper {
    border: 1px solid black;
    border-radius: 5px;
    padding: 50px 50px;
    max-width: 1170px;
    margin: auto;
}
.wrapper .input-form {
    width: 100%;
}
.wrapper .input-form .firstName {
    width: 100%;
    padding: 5px 0;
}
.wrapper .input-form .firstName .label-firstName {
    width: 100%;
    display: block;
    padding: 5px 0 5px 5px;
}
.wrapper .input-form .firstName .input-firstName {
    width: 100%;
    padding: 5px 0 5px 5px;
}
.wrapper .input-form .lastName {
    width: 100%;
    padding: 5px 0;
}
.wrapper .input-form .lastName .label-lastName {
    width: 100%;
    display: block;
    padding: 5px 0 5px 5px;
}
.wrapper .input-form .lastName .input-lastName {
    padding: 5px 0 5px 5px;
    width: 100%;
}
.wrapper .input-form .submit {
    width: 100%;
    padding: 5px 0 5px 5px;
}
.wrapper .input-form .submit .button-submit {
    width: 25%;
    padding: 5px 0 5px 5px;
    margin: auto;
    display: block;
}